---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
---

<Layout>
    <!-- <Hero/>
    <Hero/> -->

    <Hero />

    <section class="relative min-h-[600dvh] -z-100 " data-section="1">        
        <div class="sticky top-0 h-screen flex items-center justify-left bg-radial from-slate-800 from-[0.5%] via-primary via-[80%] to-primary">
            <h2 class="text-3xl">Landing pages para emprendedores</h2>            
        </div>
    </section>

    <section class="min-h-dvh w-1/2" data-section="1">
        <h2>Feature 1</h2>
    </section>

    <section class="min-h-dvh bg-blue-400 w-1/2" data-section="2">
        <h2>Feature 2</h2>
    </section>
</Layout>
