---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
---

<Layout>
    <!-- <Hero/>
    <Hero/> -->

    <Hero/>

    <section class="min-h-dvh bg-amber-400 w-1/2" data-section="1">
        <h2>Feature 1</h2>
    </section>

    <section class="min-h-dvh bg-blue-400 w-1/2" data-section="2">
        <h2>Feature 2</h2>
    </section>
</Layout>
