---
import Button from "@/components/ui/Button.astro";
import Input from "@/components/ui/Input.astro";
---

<section
    class="flex flex-col gap-20 h-dvh items-center justify-center px-10"
    data-section="10"
>
    <form action="">
        <Input size="xl" type="email" placeholder="Tu correo eléctronico"/>

    </form>
    <Button size="xl"> Contactanos </Button>
</section>
