---
import Arrow from "@/components/svg/Arrow.astro";

interface Props {
    id?: string;
}

const { id = "" } = Astro.props as Props;
---

<section id={id} class="max-w-6xl w-full mb-32 grid lg:grid-cols-2 items-center gap-12 text-center md:text-left" data-animation="home">
    <div class="space-y-8 mt-32">
        <h1 class="text-5xl lg:text-7xl font-bold leading-tight tracking-tight">
            Desarrollo de landing pages <br />
            <span class="text-white/90"
                >y software a medida para emprendedores y pymes</span
            >
        </h1>
        <p class="text-lg text-slate-400 max-w-lg leading-relaxed">
            Creamos landing pages en 10 días y MVPs en 6 semanas, con un proceso
            claro, entregas por hitos y acompañamiento técnico de principio a
            fin.
        </p>
    </div>
    <div class="scroll-downs">
        <div class="mousey">
            <div class="scroller"></div>
        </div>
        <div class="mt-3 ml-0.5 animate-bounce">
            <div class="rotate-90">
                <Arrow/>
            </div>
        </div>
    </div>
</section>