---
import CardServices from "./ui/CardServices.astro";
import { services } from "@/constants/general";
---
<section id="services" class="relative min-h-[600dvh]">
    {services && Object.values(services).map((item, index) => (
        <div id={item.href.replace("#", "")} class="relative min-h-[600dvh]" data-animation={index % 2 === 0 ? "servicesLeft" : "servicesRight"}>
            <div class="sticky top-0 h-screen flex flex-col justify-center">
                <CardServices
                    title={item.label}
                    descriptions={item.descriptions}
                    direction={index % 2 === 0 ? "left" : "right"}
                />
            </div>
        </div>
    ))}
</section>
