---
import ContactInfo from "@/components/ui/ContactInfo.astro";
import ContactForm from "@/components/ui/ContactForm.astro";

interface Props {
  id?: string;
}

const { id = "" } = Astro.props as Props;
---

<section id={id} class="max-w-7xl mx-auto px-6 xl:px-0 py-32" data-animation="contact">
    <div class="relative overflow-hidden rounded-3xl border border-stone-800 backdrop-blur-xl p-10">

        <div class="absolute -top-40 -right-20 h-96 w-96 rounded-full bg-white/5 blur-3xl pointer-events-none"></div>

        <div class="grid lg:grid-cols-2 gap-12 items-center">
            <ContactInfo />
            <ContactForm />
        </div>

    </div>
</section>
