---
import SectionHeader from "@/components/ui/SectionHeader.astro";
import FaqItem from "@/components/ui/FaqItem.astro";

import { faqs } from "@/data/faq";

interface Props {
    id?: string;
}

const { id = "" } = Astro.props as Props;
---

<section id={id} class="mx-auto w-full px-6 py-32 bg-background" data-animation="faq">    
    <SectionHeader
        badge="Preguntas Frecuentes"
        title="¿Tienes dudas?"
        highlight="Te las resolvemos"
        description="Aquí respondemos las preguntas más comunes sobre nuestros servicios, procesos y tecnologías."
    />

    <div class="space-y-4 relative z-20 max-w-4xl mx-auto">
        {faqs.map((faq, index) => (
            <FaqItem question={faq.question} answer={faq.answer} index={index} />
        ))}
    </div>
</section>
