---
import SectionHeader from "@/components/ui/SectionHeader.astro";
import CardProject from "@/components/ui/CardProject.astro";
import { projects } from "@/data/projects";

interface Props {
    id?: string;
}

const { id = "" } = Astro.props as Props;
---
<section id={id} class="max-w-7xl mx-auto px-6 py-32" data-animation="projects">
    <SectionHeader
        badge="Proyectos"
        title="Trabajos"
        highlight="recientes"
        description="Conoce algunos de los proyectos que hemos desarrollado."
    />
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
        {projects.map((item) => (
            <CardProject project={item} />
        ))}
    </div>
</section>
