---
import Reload from "@/components/svg/Reload.astro";
import CardProject from "@/components/ui/CardProject.astro";

interface Props {
    id?: string;
}

const { id = "" } = Astro.props as Props;
---
<section id={id} class="my-40 w-full pt-30" data-animation="projects">
    <div class="relative md:h-dvh h-[calc(100dvh-5rem)] max-h-[calc(100dvh-5rem)] md:max-h-dvh overflow-hidden">
        <div class="absolute left-[84%] md:left-[64%] top-[32%]">
            <button class="cursor-pointer hover:scale-110 absolute p-1 w-10 h-10 md:w-30 md:h-30 z-100 transition flex justify-center items-center rounded-full  backdrop-blur-md backdrop-saturate-150 hover:rotate-90" id="btnReloadProjects">
                <div class="absolute w-full h-full rounded-full border md:border-0 shadow-[inset_0_0_20px_rgba(180,180,180,1)]"></div>
                <div class="absolute w-full h-full rounded-full md:shadow-[inset_0_0_30px_rgba(180,180,180,1)]"></div>
                <div class="absolute w-full h-full rounded-full md:shadow-[inset_0_0_60px_rgba(180,180,180,1)]"></div>
                <Reload class="text-white w-10 h-10 md:w-20 md:h-20" />
            </button>
        </div>
        <div class="absolute bottom-[-2px] left-0 right-0 pointer-event-none bg-projects-box"></div>
        <CardProject/>
    </div>
</section>
