---
import CardServices from "@/components/ui/CardServices.astro";
import { services } from "@/data/services";
---

<section id="services" class="max-w-7xl relative min-h-[150dvh] px-6">
    <div class="absolute inset-0 -z-100">
        <div class="sticky top-0 h-screen">
            <div
                class="w-full h-full"
            >
            </div>
        </div>
    </div>
    <div class="relative">
        {
            services &&
                Object.values(services).map((item, index) => (
                    <div
                        id={item.href.replace("#", "")}                    
                        class="min-h-[150dvh] reveal-trigger sticky h-screen top-0"
                        data-animation={item.href.replace("#", "")}
                    >
                        <div class="sticky top-0 h-screen flex flex-col justify-center">
                            <CardServices
                                title={item.label}
                                descriptions={item.descriptions}
                                index={index}
                            />
                        </div>
                    </div>
                ))
        }        
    </div>
</section>
