---
import Arrow from "@/components/svg/Arrow.astro";
import Typewriter from "@/components/ui/Typewriter.astro";

interface Props {
    id?: string;
}

const { id = "" } = Astro.props as Props;
---

<section id={id} class="max-w-7xl w-full mb-32 flex items-center md:items-start text-center h-dvh md:text-left px-6" data-animation="home">
    <div class="md:w-1/2 space-y-8 md:mt-52">
        <h1 class="text-4xl lg:text-7xl font-bold leading-tight tracking-tight">
            Creamos
            <br>
            <Typewriter
                messages={["landing pages", "software a medida", "integraciones", "MVPs", "aplicaciones web", "aplicaciones móviles"]}
                writeSpeed={150}
                deleteSpeed={80}
                waitWritten={2000}
                waitDeleted={1000}
                class="text-gradient-secondary"
            /> 
            <br> para tu negocio
        </h1>
        <p class="text-md md:text-xl text-slate-400 max-w-lg leading-relaxed">
            Creamos landing pages en <b class="text-white">10 días</b> y MVPs en <b class="text-white">6 semanas</b>, con un proceso
            claro, entregas por hitos y acompañamiento técnico de principio a
            fin.
        </p>
    </div>
    <div class="w-8 absolute bottom-0 md:bottom-10 left-[calc(50%-1rem)]">
        <div class="ring-2 rounded-full w-8 h-16 pt-4">
            <div class="bg-foreground w-2 h-4 mx-auto rounded-full animate-bounce"/>
        </div>
        <div class="animate-bounce pt-4">
            <div class="rotate-90">
                <Arrow/>
            </div>
        </div>
    </div>
</section>