---
interface Props {
    title?: string;
    descriptions?: string;
}

const { 
    title = "" ,
    descriptions = ""
} = Astro.props as Props;

---
<div class="service-card py-12 lg:py-16 rounded-[2.5rem] overflow-hidden border border-stone-800 p-12 backdrop-blur-md backdrop-saturate-150">
    <h2 class="text-4xl lg:text-5xl font-bold mb-10 tracking-tight">
        {title}
    </h2>
    <div class="space-y-8">
        {descriptions.split("|").map((item) => (
            <p class="text-xl text-zinc-300 leading-[1.8] font-light">
                {item}
            </p>
        ))}
    </div>
</div>
