---
import Reload from "@/components/svg/Reload.astro";

interface CardData {
    images: {
        src: string;
        position: string;
    }[];
    title: string;
    type: string;
    description?: string;
}

interface Props {
    cards?: CardData[];
}

const {
    cards = [
        {
            images: [
                {
                    src: "projects/ccsoluciones_3_1.jpeg",
                    position: "0% 33%",
                },
                {
                    src: "projects/ccsoluciones_3_1.jpeg",
                    position: "0% 0%",
                },
                {
                    src: "projects/ccsoluciones_3_1.jpeg",
                    position: "0% 110%",
                }
            ],
            title: "Proyecto Alpha",
            descrption: "Descripción breve del proyecto Alpha, destacando sus características principales y el impacto que ha tenido en la industria.",
            type: "Web",
        },
    ],
} = Astro.props;
---

<div class="relative w-screen overflow-hidden feature-imgs feature-img-h">
    <div class="absolute left-[50%] translate-x-[-50%]">
        <div class="flex flex-row justify-center items-center gap-[15px] ai-dt:gap-[40px]">
            <button class="cursor-pointer hover:scale-110 absolute left-[62%] p-10 w-10 h-10 md:w-40 md:h-40 z-100 transition flex justify-center items-center rounded-full  backdrop-blur-md backdrop-saturate-150">
                <div class="absolute w-full h-full rounded-full shadow-[inset_0_0_20px_rgba(180,180,180,1)]"></div>
                <div class="absolute w-full h-full rounded-full shadow-[inset_0_0_30px_rgba(180,180,180,1)]"></div>
                <div class="absolute w-full h-full rounded-full shadow-[inset_0_0_60px_rgba(180,180,180,1)]"></div>
                <Reload class="text-white w-10 h-10 md:w-20 md:h-20" />
            </button>
            <div class="relative feature-img-wrapper feature-img-w feature-img-h rounded-2xl overflow-hidden border border-stone-500 mt-45">
                <div class="absolute w-full h-full shadow-[inset_0_0_20px_rgba(180,180,180,1)]"></div>
                <div class="absolute w-full h-full shadow-[inset_0_0_30px_rgba(180,180,180,1)]"></div>
                <div class="absolute w-full h-full shadow-[inset_0_0_60px_rgba(180,180,180,1)]"></div>
                <img class="feature-img opacity-60 w-full h-full object-cover" style={`object-position: ${cards[0].images[0].position || "0% 0%"};`} src={cards[0].images[0].src}/>
            </div>
            <div class="relative feature-img-wrapper feature-img-w feature-img-h rounded-2xl overflow-hidden border border-stone-500">
                <div class="absolute w-full h-full shadow-[inset_0_0_20px_rgba(180,180,180,1)]"></div>
                <div class="absolute w-full h-full shadow-[inset_0_0_30px_rgba(180,180,180,1)]"></div>
                <div class="absolute w-full h-full shadow-[inset_0_0_60px_rgba(180,180,180,1)]"></div>
                <img class="feature-img object-cover" style={`object-position: ${cards[0].images[1].position || "0% 0%"};`} src={cards[0].images[1].src}/>
            </div>
            <div class="relative feature-img-wrapper feature-img-w feature-img-h rounded-2xl overflow-hidden border border-stone-500 mt-45">
                <div class="absolute w-full h-full shadow-[inset_0_0_20px_rgba(180,180,180,1)]"></div>
                <div class="absolute w-full h-full shadow-[inset_0_0_30px_rgba(180,180,180,1)]"></div>
                <div class="absolute w-full h-full shadow-[inset_0_0_60px_rgba(180,180,180,1)]"></div>
                <img class="feature-img opacity-60 w-full h-full object-cover" style={`object-position: ${cards[0].images[2].position || "0% 0%"};`} src={cards[0].images[2].src}/>
            </div>
        </div>
    </div>
</div>

<script define:vars={{ cards }}>
    const cardElements = document.querySelectorAll(".card-wrapper");
    let currentIndex = 0;

    setInterval(() => {
        currentIndex = (currentIndex + 1) % cards[0].image.length;

        cardElements.forEach((card, idx) => {
            const data = cards[idx].image[currentIndex];
            const img = card.querySelector("img");
            const title = card.querySelector("[data-title]");
            const type = card.querySelector("[data-type]");

            // img.style.opacity = '0';

            setTimeout(() => {
                img.src = data;
                title.textContent = cards[idx].title;
                type.textContent = cards[idx].type;

                img.style.opacity = "1";
            }, 300);
        });
    }, 4000);
</script>
