<div id="vision-model" class="fixed inset-0 -z-10 pointer-events-none"></div>

<script>
    import * as THREE from "three";
    import { createGlassCube } from "@/utils/createGlassCube";

    const container = document.getElementById("vision-model");
    const width = container?.clientWidth || window.innerWidth;
    const height = container?.clientHeight || window.innerHeight;
    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera(75, width / height, 1, 1000);
    const renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
    const dirLight = new THREE.DirectionalLight(0xffffff, 1.2);
    const ambientLight = new THREE.AmbientLight(0xffffff, 0.6);
    const raycaster = new THREE.Raycaster();
    const mouseNDC = new THREE.Vector2();
    const sectionEls = document.querySelectorAll("section[data-section]");

    const sectionStates = [
        {
            position: new THREE.Vector3(8, -2, 0), // derecha
            rotation: new THREE.Euler(
                THREE.MathUtils.degToRad(-5),
                0,
                THREE.MathUtils.degToRad(45),
            ),
        },
        {
            position: new THREE.Vector3(0, -2, 0), // centro
            rotation: new THREE.Euler(
                THREE.MathUtils.degToRad(-5),
                0,
                THREE.MathUtils.degToRad(45),
            ),
        },
        {
            position: new THREE.Vector3(0, -2, 0), // centro
            rotation: new THREE.Euler(
                THREE.MathUtils.degToRad(-5),
                0,
                THREE.MathUtils.degToRad(45),
            ),
        },
        {
            position: new THREE.Vector3(8, -2, 0), // derecha
            rotation: new THREE.Euler(
                THREE.MathUtils.degToRad(-5),
                0,
                THREE.MathUtils.degToRad(45),
            ),
        },
    ];

    camera.position.set(0, 3, 10);
    renderer.setSize(width, height);
    renderer.setPixelRatio(window.devicePixelRatio);
    container?.appendChild(renderer.domElement);
    dirLight.position.set(5, 10, 5);
    dirLight.castShadow = true;
    scene.add(ambientLight);
    scene.add(dirLight);

    const group = new THREE.Group();
    scene.add(group);

    const foregroundGroup = new THREE.Group();
    scene.add(foregroundGroup);

    const count = 64;
    const limit = 8;
    const spacing = 1;
    let positionY = 0;
    let positionX = 0;

    for (let i = 0; i < count; i++) {
        if (i % limit === 0) {
            positionY++;
            positionX = 0;
        }

        const cube = createGlassCube({
            position: { x: positionX * spacing, y: positionY, z: 0 },
            size: { x: 1, y: 1, z: 1 },
            radius: 0.15,
        });

        positionX++;
        cube.userData.basePosition = cube.position.clone();
        group.add(cube);
    }

    group.rotation.set(
        THREE.MathUtils.degToRad(-5),
        0,
        THREE.MathUtils.degToRad(45),
    );

    const mouse = { x: 0, y: 0 };
    const targetRotation = { x: 0, y: 0 };

    const baseRotation = {
        x: THREE.MathUtils.degToRad(-60),
        y: 0,
        z: THREE.MathUtils.degToRad(90),
    };

    window.addEventListener("mousemove", (e) => {
        mouse.x = (e.clientX / window.innerWidth) * 2 - 1;
        mouse.y = -(e.clientY / window.innerHeight) * 2 + 1;

        mouseNDC.x = mouse.x;
        mouseNDC.y = mouse.y;
    });

    let activeSection = 0;
    let sectionProgress = 0;

    window.addEventListener("scroll", () => {
        const scrollY = window.scrollY;

        sectionEls.forEach((section: any, index) => {
            const start = section.offsetTop;
            const end = start + section.offsetHeight;

            if (scrollY >= start && scrollY < end) {
                activeSection = index;
                sectionProgress = (scrollY - start) / section.offsetHeight;
            }
        });
    });

    window.addEventListener("resize", () => {
        const w = container?.clientWidth || window.innerWidth;
        const h = container?.clientHeight || window.innerHeight;
        camera.aspect = w / h;
        camera.updateProjectionMatrix();
        renderer.setSize(w, h);
    });

    const FOCUS_CUBE_INDEX = 34;
    let focusCube = null;
    let focusActive = false;

    focusCube = group.children[FOCUS_CUBE_INDEX];

    const animate = () => {
        requestAnimationFrame(animate);

        targetRotation.y = baseRotation.y + mouse.x * 0.05;
        group.rotation.y = THREE.MathUtils.lerp(
            group.rotation.y,
            targetRotation.y,
            0.05,
        );

        raycaster.setFromCamera(mouseNDC, camera);
        const intersects = raycaster.intersectObjects(group.children);

        group.children.forEach((cube) => {
            cube.position.lerp(cube.userData.basePosition, 0.08);
        });

        if (intersects.length > 0) {
            const hoveredCube = intersects[0].object;
            if(activeSection === 0){
                hoveredCube.position.lerp(
                    hoveredCube.userData.basePosition
                        .clone()
                        .add(new THREE.Vector3(0, 0, 1)),
                    0.15,
                );
            }
        }

        const current = sectionStates[activeSection];

        group.position.lerp(current.position, 0.08);

        group.rotation.x = THREE.MathUtils.lerp(
            group.rotation.x,
            current?.rotation.x,
            0.08,
        );

        group.rotation.y = THREE.MathUtils.lerp(
            group.rotation.y,
            current?.rotation.y,
            0.08,
        );

        group.rotation.z = THREE.MathUtils.lerp(
            group.rotation.z,
            current?.rotation.z,
            0.08,
        );

        if (activeSection === 0 && sectionProgress > 0.5) {
            const t = (sectionProgress - 0.5) * 2;

            group.position.lerpVectors(
                sectionStates[0].position,
                sectionStates[1].position,
                t,
            );
        }

        // if (isFocusSection && !focusActive) {
        //     focusActive = true;

        //     focusCube.updateMatrixWorld();
        //     scene.attach(focusCube);
        //     foregroundGroup.add(focusCube);

        //     focusCube.position.set(0, 0, -2);
        //     focusCube.scale.set(1, 1, 1);
        // }

        if (activeSection === 1) {
            focusCube.position.lerp(new THREE.Vector3(3.95, 1.7, 15), 0.08);
            // focusCube.rotation.z = 50;

            // group.children.forEach((cube) => {
            //     cube.material.opacity = THREE.MathUtils.lerp(
            //         cube?.material.opacity,
            //         0,
            //         0.08,
            //     );
            // });
        }

        // if (!isFocusSection && focusActive) {
        //     focusActive = false;

        //     focusCube.updateMatrixWorld();
        //     scene.attach(focusCube);
        //     group.add(focusCube);

        //     focusCube.position.copy(focusCube.userData.basePosition);
        //     focusCube.scale.set(1, 1, 1);

        //     group.children.forEach((cube) => {
        //         cube.material.opacity = 0.9;
        //     });
        // }

        renderer.render(scene, camera);
    };

    animate();
</script>
