@import "tailwindcss";

@theme{
  --color-primary: #001B71;
  --color-secondary: #00B4D8;
  --color-foreground: #606060;
  --color-foreground-secondary: #A6A6A6;
  --color-background: #FFFFFF;
  --color-success: #28A745;
}