---
import { sizeClasses } from "@/lib/sizeClasses";
import type { Size } from "@/lib/sizeClasses";

interface Props {
    href?: string;
    class?: string;
    size?: Size;
    target?: string;
}

const {
    href = "",
    size = "md",
    class : className = "",
    target = "_self"
} = Astro.props as Props;

---

<a
    href={href}
    target={target}
    class={`bg-white text-black rounded-full font-medium hover:bg-white/90 transition-all duration-200 cursor-pointer ${sizeClasses[size]} ${className}`}
>
    <slot/>
</a>
