---
import ShadowOverlay from "@/components/ui/ShadowOverlay.astro";

interface Props {
	src: string;
	position: string;
	imgIndex: number;
}

const { src, position, imgIndex } = Astro.props;
const offsetClass = imgIndex !== 1 ? "mt-45" : "";
---

<div
	class={`relative feature-img-wrapper feature-img-w feature-img-h rounded-2xl overflow-hidden ${offsetClass}`}
>
	<ShadowOverlay class="z-10 rounded-2xl" data-box />
	<img
		class="feature-img w-full h-full object-cover transition-all duration-500"
		style={`object-position: ${position}`}
		src={src}
		data-img-index={imgIndex}
	/>
</div>
