---
import VisionModel from "@/components/ui/VisionModel.astro";
import Nav from "@/components/ui/Nav.astro";
import Footer from "@/components/ui/Footer.astro";
import { nameCompany, metaDescription } from "@/constants/general";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={metaDescription}>
        <title>{nameCompany}</title>
    </head>
    <body class="bg-primary text-foreground">
        <div id="custom-cursor md:visible invisible">
            <div class="cursor-fill"/>
            <div class="cursor-ring"/>
        </div>
        <Nav/>
        <VisionModel />
        <main class="flex flex-wrap justify-center mx-auto">
            <slot />
        </main>
        <Footer/>
        <script is:inline>
            const cursor = document.getElementById("custom-cursor");
            const menuToggle = document.getElementById("menuToggle");
            const mobileMenu = document.getElementById("mobileMenu");
            const sections = document.querySelectorAll("section[id]");
            const navLinks = document.querySelectorAll(".nav-link");

            document.addEventListener("DOMContentLoaded", () => {
                const reveals = document.querySelectorAll(".reveal")

                const observer = new IntersectionObserver(
                    (entries) => {
                        entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            entry.target.classList.remove("opacity-0", "translate-y-12")
                            entry.target.classList.add("opacity-100", "translate-y-0")
                        } else {
                            entry.target.classList.remove("opacity-100", "translate-y-0")
                            entry.target.classList.add("opacity-0", "translate-y-12")
                        }
                        })
                    },
                    {
                        threshold: 0,
                        rootMargin: "-20% 0px -20% 0px"
                    }
                )

                reveals.forEach(el => observer.observe(el))
            })

            window.addEventListener("mousemove", (e) => {
                cursor.style.left = e.clientX + "px";
                cursor.style.top = e.clientY + "px";
            });            

            menuToggle?.addEventListener("click", () => {
                if (mobileMenu?.classList.contains("hidden")) {
                    mobileMenu?.classList.remove("hidden");
                    mobileMenu?.classList.add("flex");
                } else {
                    mobileMenu?.classList.add("hidden");
                    mobileMenu?.classList.remove("flex");
                }
            });

            const observer = new IntersectionObserver(
                (entries) => {
                    entries.forEach((entry) => {
                        console.log(entry.isIntersecting)
                        if (!entry.isIntersecting) {
                            return;
                        }
                        const id = entry.target.id;
                        navLinks.forEach((link) => {
                            link.classList.toggle("active", link?.dataset?.id === id);
                        });
                    });
                },
                {
                    rootMargin: "-40% 0px -50% 0px",
                    threshold: 0,
                },
            );

            sections.forEach((section) => observer.observe(section));
        </script>
    </body>
</html>
